.sidbar {
    background: rgb(255, 255, 255);
    position: absolute;
    width: 0px;
    height: auto;
    overflow: hidden;
    background-color: rgb(102, 153, 102);
}

.sidbarelements{
    margin: 100px;
    position: absolute;
    padding: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 100px;
}
.sidbarelements a{
    text-decoration: none;
    color: white;
}

.Closer{
    position: absolute;
    left: 180px;
    text-decoration: none;
    color: white;
}

.Title{
    display: grid;
    place-items: center;
    background: rgb(102, 102, 102);
    height: 200px;
    font-size: 40px;
    color: white;
}

.Title h{
    border: 4px solid white;
    padding: 20px;
}

.OpenButton{
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    border: 2px solid rgb(102, 102, 102);
}

.card-img-top{
    width: 400px;
    height: 300px;
}

.card {
    z-index: -1;
}
